<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="MkAppSettings" type="MkCore.Configuration.MkAppSettingHandler,MkCore"/>
  </configSections>
  <MkAppSettings/>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="Deployment" value="EUR" />
    <add key="Region" value="EUR" />
    <add key="ConfigRoots" value="D:\Config\EUR;D:\Config" />
    <add key="ResourceStringsConfig" value="COPSStrings" />
    <add key="EnableMex" value="true" />
    <add key="ServerType" value="IWEB" />
    <!-- Select 'ScopeTimeout' (value is TimeSpan d.hh:mm:ss)  -->
    <add key="ScopeTimeoutTransactionService" value="00:05:00" />
    <add key="WCFLog-Order" value="true" />
    <add key="WCFLog-ReprocessOrder" value="true" />
    <add key="WCFLog-CyberPayment" value="true" />
    <add key="WCFLog-AssignHeldTransactionToConsultant" value="true" />
    <add key="WCFLog-DuplicateOrder" value="true" />
  </appSettings>
  <!--system.diagnostics>
    <trace autoflush="true" />
    <sources>
      <source name="System.ServiceModel"
              switchValue="Information, ActivityTracing"
              propagateActivity="true">
        <listeners>
          <add name="sdt"
              type="System.Diagnostics.XmlWriterTraceListener"
              initializeData= "SdrConfigExample.e2e" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics-->
</configuration>
